
/********************* mode mobile ******************************/

@media screen and (max-width: 600px){

#wrapper{
    margin: 0% 5% 0% 5%;
    background-color: #FFFFFF;
}
    .container{
    margin: 20%;
}
    #wrapper .flexPhotos{
        display: flex;
        flex-direction: column;
        
    }

body{
    background-color: #2C3E50;

}
#page.container{
    padding-left: 2%;
    padding-right: 2%;
    background-color: #FFFFFF;

}
#header-banner{
    background: url(C:\wamp64\www\Bibliotheque\src\images\banner.jpg);
}


/*********************************************************************************/
/*  Menu                                                                         */
/*********************************************************************************/
#menu ul {
    margin: 5%;
    padding: 2%;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 1em 1em;
    background: #2A9D62;
    border-radius: 20px;
}

#menu li {
    float: left;
    margin: auto;
    padding: 1%;
    background-color: #2A9D62;
}

#menu li a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    margin: auto;
}

#menu li a:hover {
    color: green ;
}

#menu ul li ul {
    display: none;
    position: absolute;
    padding: 1em 0em;
    border-radius: 0px 0px 20px 20px;
    width:120px;
    border-left-width: 10px;
    
}

#menu ul li:hover ul {
    display: block;
}

#menu li:hover ul li {
    float: none;
}

#menu li ul {
    position: absolute;
}

#menu ul li a {
    margin: auto;
}

/*********************************************************************************/
/* Bienvenue                                                                       */
/*********************************************************************************/

#Bienvenue-Bas {
    background: #E0E0E0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

#Bienvenue {
    padding: 5em 0em 5em 0em;
}

/*********************************************************************************/
/* Liste bas                                                                     */
/*********************************************************************************/


ul.style3 {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    color: #000000
}

ul.style3 li {
    padding: 1.6em 0em 0em 0em;
    margin: 0 0 1em 0;
}

ul.style3 p {
    padding: 0.5%;
}

ul.style3 a {
    display: block;
    text-decoration: none;
    color: #2D2D2D;
}

ul.style3 h3 {
    padding: 1em 0em 2px 0em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}

ul.style3 .first {
    padding-top: 0;
    background: none;
}

ul.style3 .date {
    float: left;
    position: relative;
    width: 80px;
    height: 70px;
    margin: 0.5em 1.5em 0em 0.5em;
    padding: 20px 0em 0em 0em;
    background: #3498DB;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .2);
    font-size: 1em;
    font-weight: 400;
    color: #FFF;
}
ul.style3 .date b {
    margin: 0;
    padding: 0;
    display: block;
    margin-top: -5px;
    font-size: 1.8em;
    font-weight: 700;
    color: #FFFFFF;
}

ul.style3 .date a {
    color: #FFFFFF;
}



ul.style4 li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 3em;
}

ul.style4 a {
    color: #2D2D2D;
}

ul.style4 .first {
    padding-top: 0px;
    border-top: none;
}


#header-banner {
    background: url(../images/BBTB.jpg);
    background-size: cover;
}
}



/******************** mode tablette ***************************/
@media screen and (min-width: 801px){
    #wrapper .flexPhotos{
        display: flex;
        flex-direction: row;
    }
}
/******************** mode pc ******************************/
@media screen and (min-width: 1024px){
    #wrapper .flexPhotos{
        display: flex;
        flex-direction: row;
    }

}